
@import url('https://fonts.googleapis.com/css?family=Barlow');


body, html {
    height: 100%;
    margin: 0;
    font-family: 'Barlow', sans-serif;
  }

  .form-control{
    height: 50px;
    border-radius: 40px;
    font-size: 1.5em;
  }
  .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card{
    margin: 0% 5%;
    margin-top: 5%;
    text-align: center;
  }
  .btn-primary{
    margin: 1%;
  }
  .search-bar{
    margin-top: 10%;
  }
  input[type="text"], textarea {

  }
  .card-img-top{
    max-height: 208px;
    object-fit: cover;
  }
